.header-container {
    display: flex;
    direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.header-logo {
    height: 75px
}

.header-link {
    font-size: 20px;
    color: #31708E;
}